{% extends "deeplearning/base.html" %}
{% load static %}
      {% block content %}
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
          <header class="blog-post-header">
				    <h2 class="title mb-2">About PlantVillage Dataset</h2>
			    </header>
			    <div class="item">
				    <div class="media">
              <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static 'deeplearning/images/PlantVillage-Dataset.jpg' %}" alt="image">
					    <div class="media-body">
						    <div class="intro">In order to ease plant disease diagnosis, the PlantVillage project began collecting and later opensourced images of crops for both healthy and diseased plant.
                The PlantVillage dataset contains images of leaves corresponding to 14 crop species: Apple, Blueberry, Cherry, Grape, Orange, Peach, Bell Pepper, Potato, Raspberry, Soybean, Squash, Strawberry, and Tomato.
                The images are divided into 38 classes of crop disease pairs: <strong>(1)</strong> Apple Scab, Venturia inaequalis <strong>(2)</strong> Apple
                Black Rot, Botryosphaeria obtusa <strong>(3)</strong> Apple Cedar Rust, Gymnosporangium juniperi-virginianae <strong>(4)</strong> Apple healthy <strong>(5)</strong> Blueberry healthy <strong>(6)</strong> Cherry healthy <strong>(7)</strong> Cherry
                Powdery Mildew, Podoshaera clandestine <strong>(8)</strong> Corn Gray Leaf Spot, Cercospora zeae-maydis <strong>(9)</strong> Corn Common Rust, Puccinia sorghi <strong>(10)</strong> Corn healthy <strong>(11)</strong> Corn
                Northern Leaf Blight, Exserohilum turcicum <strong>(12)</strong> Grape Black Rot, Guignardia bidwellii, <strong>(13)</strong> Grape Black Measles (Esca), Phaeomoniella aleophilum, Phaeomoniella
                chlamydospora <strong>(14)</strong> Grape Healthy <strong>(15)</strong> Grape Leaf Blight, Pseudocercospora vitis <strong>(16)</strong> Orange Huanglongbing (Citrus Greening), Candidatus Liberibacter spp. <strong>(17)</strong>
                Peach Bacterial Spot, Xanthomonas campestris <strong>(18)</strong> Peach healthy <strong>(19)</strong> Bell Pepper Bacterial Spot, Xanthomonas campestris <strong>(20)</strong> Bell Pepper healthy <strong>(21)</strong> Potato
                Early Blight, Alternaria solani <strong>(22)</strong> Potato healthy <strong>(23)</strong> Potato Late Blight, Phytophthora infestans <strong>(24)</strong> Raspberry healthy <strong>(25)</strong> Soybean healthy <strong>(26)</strong> Squash Powdery
                Mildew, Erysiphe cichoracearum <strong>(27)</strong> Strawberry Healthy <strong>(28)</strong> Strawberry Leaf Scorch, Diplocarpon earlianum <strong>(29)</strong> Tomato Bacterial Spot, Xanthomonas campestris
                pv. vesicatoria <strong>(30)</strong> Tomato Early Blight, Alternaria solani <strong>(31)</strong> Tomato Late Blight, Phytophthora infestans <strong>(32)</strong> Tomato Leaf Mold, Passalora fulva <strong>(33)</strong> Tomato Septoria
                Leaf Spot, Septoria lycopersici <strong>(34)</strong> Tomato Two Spotted Spider Mite, Tetranychus urticae <strong>(35)</strong> Tomato Target Spot, Corynespora cassiicola <strong>(36)</strong>Tomato Mosaic Virus
                <strong>(37)</strong> Tomato Yellow Leaf Curl Virus <strong>(38)</strong> Tomato healthy.</div>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-next nav-item nav-link rounded" href="{% url 'predict'%}">Predict crop disease<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
		    </div>
	    </section>
	    {% endblock %}
