gunicorn==20.0.4
Pillow==7.1.2
Django==3.0.7
skorch==0.7.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.5.0+cpu
