{% extends "deeplearning/base.html" %}
{% load static %}
	    {% block content %}
	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Me</h2>
			    <p>Twarik is a Ugandan electrical engineer, data and security enthusiast, and business development professional. Passionate about applying artificial intelligence (AI) and machine learning to agriculture, finance, and wireless communication.
						 He is a curious learner and collaborative colleague working on some of the most cutting-edge and fun problems of AI.</p>
					<figure><img class="img-fluid" src="{% static 'deeplearning/images/about-twarik.jpg' %}" alt="image"></figure>
					<h5 class="mt-5">Background and education</h5>
					<p>Twarik Harouna Mugumya was born in Uganda. He grew up in Nateete, a suburb in Kampala, the capital city of Uganda.</p>
			    <p>Twarik attended Bilal Islamic Institure, where he attained his ordinary certificate in Islamic studies and arabic language and Uganda Certificate of Education in 2005 and 2006 respectively. He attended Kawempe Muslim Secondary School, where he attained his Uganda Advanced Certificate of Education in 2008. He then attended Islamic University of Technology (IUT) in Dhaka-Bangladesh, where he studied electical and electronic engineering, and technical education, graduating with a Bachelor of Science degree in 2013. In 2015 Twarik went back to University to attain a masters degree in Computing at the Uganda Technology and Management University (UTAMU), after completing the coursework, he took a break before completing his masters thesis in order to complete another masters in Electrical and Computer Engineering at the prestigious Carnegie Mellon University (CMU) in pitssburgh, PA, USA.</p>
					<h5 class="mt-5">Professional Career</h5>
			    <p>Twarik began his professional career in 2014 with CNS Technologies Ltd (a data center service provider) where he doubled as the business development manager and support engineer. He left CNS in 2018 for graduate studies, he took a part-time job as a graduate IT-services associate at Carnegie Mellon University. After graduation from CMU he was offered a summer job as an administrative and IT-support staff before returning to Uganda.</p>
					<p>As of July 2020, he has embarked on a remote data science internship with the Hamoye AI Labs (a division of Hamoye Technologies, a Delaware corporation), he is pursuing the Data engineering track</p>
					<h5 class="mt-5">My Skills and Experiences</h5>
					<ul>
						<li>Computational Thinking</li>
						<li>Deep Learning</li>
						<li>Regression</li>
						<li>Classification</li>
						<li>Time Series</li>
						<li>Business Intelligence</li>
						<li>Data Analysis</li>
						<li>Big Data Science</li>
						<li>Predictive Modeling</li>
					</ul>
			    <h5 class="mt-5">Side Projects</h5>
			    <p>Coming soon...</p>
		    </div>
	    </article><!--//about-section-->
	    </section> -->
	    {% endblock %}
