{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>API for plant diseases diagnosis</title>
    <!-- Meta -->
    <meta charset="utf-8">

    <link rel="shortcut icon" href="{% static 'deeplearning/images/favicon.ico' %}">
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'deeplearning/css/theme.css' %}">

</head>
<body>
    <header class="header text-center">
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="{% url 'site-home'%}">Plant diseases API</a></h1>
	    <nav class="navbar navbar-expand-lg navbar-dark" >
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
            <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'deeplearning/images/twarik.png' %}" alt="image" >
					<div class="bio mb-3">Hi, my name is Twarik Harona. I am a passionate data scientist.<br><a href="{% url 'about-me'%}">Find out more about me</a></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://twitter.com/twarikug" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/twarik/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="http://github.com/twarik/" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.facebook.com/twariq1" target="_blank"><i class="fab fa-facebook fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr>
				</div><!--//profile-section-->
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'site-home'%}"<i class="fas fa-home fa-fw mr-2"></i>Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'predict'%}"><i class="fas fa-bookmark fa-fw mr-2"></i>predict disease</a>
					</li>
        <div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="{% url 'about-me'%}">About Me</a>
				</div>
			</div>
		</nav>
    </header>
    <div class="main-wrapper">
      {% block content %}
	  
	    {% endblock %}
      <footer class="footer text-center py-2 theme-bg-dark">
                <small class="copyright">Developed by <a href="https://www.linkedin.com/in/twarik/" target="_blank">Twarik Harouna</a> for deep learning model deployment <i class="fas fa-heart" style="color: #fb866a;"></i> for agriculture</small>
	    </footer>
    </div><!--//main-wrapper-->
    <!-- Javascript -->
    <link rel="stylesheet" href="{% static 'deeplearning/plugins/jquery-3.3.1.min.js' %}">
    <link rel="stylesheet" href="{% static 'deeplearning/plugins/popper.min.js' %}">
    <link rel="stylesheet" href="{% static 'deeplearning/plugins/bootstrap/js/bootstrap.min.js' %}">

</body>
</html>
